.SAC {
    display: flex;
    min-height: 500px;
    margin: 5px;

    &-box {
        flex: 1;
        border: 1px solid #eee;
        padding: 10px;
        margin: 5px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;

        .box {
            padding: 5px;
            cursor: pointer;

            &:hover {
                background-color: #eee;
            }


        }

        .pageControl {
            margin: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &-select {
            background-color: #eee;
        }
    }
}